<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="form-style-5">
        <form action="/signup/" method="post">
            {% csrf_token %}


            <legend><span class="number">1</span> Report settings</legend>

            <label for="title">Title: </label>
            <input id="title" type="text" name="title" placeholder="Enter title..">

            <label for="query">Keywords: </label>
            <input id="query" type="text" name="query" placeholder="Enter query..">



            <legend><span class="number">2</span> Contact info</legend>

            <label for="name">Name: </label>
            <input id="name" type="text" name="name" placeholder="Enter your name..">

            <label for="email">Email: </label>
            <input id="email" type="text" name="email" placeholder="Enter email..">

            <label for="company">Company: </label>
            <input id="company" type="text" name="company" placeholder="Enter company (optional)..">


            
            <input type="submit" value="Sign up">
        </form>
    </div>
</body>
</html>